body {
	margin: 0;
	padding: 0;	
	background-color: #ECEEEF;
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

.header>li:hover>a {
	color: #015399;
}

.navbar {
	background-color: white;
	padding: 0 12px;
}

.header>li>a {
	font-size: 18px;
	margin: 0;
	font-weight: 700;
	color:#0275D8;
	padding-bottom: 7px;
	border-bottom: 4px solid red;
}

.header>li {
	margin: 8px 0;
	list-style-type: none;
}

.header>li>a>i, .header>li>a>div>i {
	margin-right: 5px;
}

.current_page_item>a {
	color: red !important;
}

/*.profile {
	background-color: #FF5A5A;
	margin:-8px !important;
	padding: 8px;
	color: white;
	border:none ;
}

.profile:hover {
	color:#D8D8D8;
}*/

.side-bar {
	margin-top: 10px;
}

.dropdown>button {
	border: 1px solid #BFBFBF;
}

.btn-search {
	border: 1px solid #BFBFBF;
}

.search>input {
	border: 1px solid #BFBFBF;
}

.title {
	text-align: center;
	margin-top: 20px;
}

.content {
	background-color: white;
}

.petition {
	padding: 15px;
	margin-bottom: 50px;
}

.img-pet {
	text-align:center;
	position: relative;
    overflow:hidden;
    height:220px;
}

.img-pet>img {
	width: 120%;
	position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.text {
	padding: 15px 15px;
	height: 150px;
}

.text>h1 {
	font-size: 28px;
}

.text>h2 {
	padding-bottom:30px;
	font-size: 20px;
}

.address>img {
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.type,.address {
	font-weight: 600;
	padding: 15px 25px;
	margin-top:5px;
}

.address {
	display: flex;
	position:relative;
}

.address>ul>li {
	list-style-type: none;
	margin-left: -25px;
}

.like {
	display: flex;
	padding:10px 25px;
	background-color: #ECEEEF;
	height: 60px;
}

.img-like>i {
	font-size: 30px;
	vertical-align: middle;
}

.img-like>.number {
	margin:0 15px;
	font-size: 25px;
	color: red;
	font-weight: 600;
	vertical-align: middle;
}

.img-comment>i {
	font-size: 30px;
	vertical-align: middle;
	color: #C400C6;
	margin-top:-4px;
}

.img-comment>.number {
	margin:0 15px;
	font-size: 25px;
	color: #C400C6;
	font-weight: 600;
	vertical-align: middle;
}

.pagination {
	justify-content: center;
}

.pag {
	margin:0;
	padding:10px 20px;
	border: 1px solid #BFBFBF;
	font-size: 25px;
	color: #0275D8;
}


.next {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.prev {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.active-pag {
	background-color: #0275D8;
	color: white;
}

.pictures,.post, .number-footer {
	display: flex;
}

.pictures>.photos {
	margin-right: 20px;
}

.photos {
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}


.post {
	font-size: 30px;
	margin-bottom: 15px;
}

.post>.map-footer, .number-footer>.tel {
	margin-left: 10px;
}

.number-footer>i, .post>i {
	font-size: 50px;
}

.number-footer,.map-footer {
	font-size: 30px;
	vertical-align: middle;
}

.content {
	padding-bottom: 30px;
	padding-top:30px; 
}

.footer {
	background-color: #BFBFBF;
	padding:30px 0;
}

.actual	{
	display: flex;
	background-color: #A6A8FF;
}

.actual>.img-pet>img {
	padding: 20px;
	width: 80%;
	border-radius: 30px;
}

.title-actual {
	background-color: #FF9700;
	padding: 5px 0;
	margin: 10px auto 40px auto;
	width: 20%;
}

.title-actual>h3 {
	text-align: center;
	margin:0;
	font-weight: 600;
}

.invite {
	background-color: #0275D8;
	padding: 5px 10px;
	margin-right: 15px;
	border-radius: 3px;
	margin-left: 10px;
	text-align: center;
}

.invite>a {
	font-size: 18px;
	margin: 0;
	font-weight: 600;
	color: white;
}

.index-map {
	text-align: center;
	font-size: 45px;
	margin-bottom: 30px;
}

.com-box {
	display: flex;
	background-color: #0275D8;
	padding: 10px 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.com-box>img {
	border-radius: 10px;
}

.com-box>h3 {
	margin:auto 20px;
}

.com-box>p {
	margin:auto 10% auto auto;
	font-weight: 500;
	font-size: 20px;
}

.about>h1,.about>h2,.about>p {
	text-align: center;
}

.map {
	margin: 20px 0 50px 0;
}


.news>h2 {
	margin:20px 0;
	padding: 20px 10px;
	background-color: #0275D8;
	text-align: center;
}
.news-list {
	padding: 20px 10px;
}

.news-text{
	background-color: #A6A8FF;
	padding:20px 30px;
}

.news-text>p {
	margin-bottom: 0;
}

.news-text>a {
	font-size: 26px;
	font-weight: 500;
}

.menu-prof {
	display: flex;
}

.menu-exit {
	margin: auto 4px;
	background-color: rgb(76, 140, 189);
	padding: 4px 20px;
	color: white;
}

.menu-exit>span {
	display: flex;
}

.menu-exit>span>i {
	margin: auto 0;	
	margin-right: 5px;
}

.signin {
	text-align: center;
	font-size: 30px;
	min-height: 60vh;
}

.signin-text {
	margin-top: 20%;
}

.ms-res-ctn {
	position: relative;
}